<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header class="card-header" (click)="checkVisited()">
    <mat-panel-title class="panel-title">
      <mat-card-header>
        <div
          mat-card-avatar
          class="header-image"
          style="
                background-image: url('{{ this.dog.headerImg }}');
              "
        ></div>
        <mat-card-title>{{ this.dog.title }}</mat-card-title>
        <mat-card-subtitle>{{ this.dog.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <mat-icon *ngIf="this.dog.visited">visibility</mat-icon>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-card>
    <img
      mat-card-image
      src="{{ this.dog.srcImg }}"
      alt="Photo of a {{ this.dog.title }}"
      class="card-image"
    />
    <mat-card-content class="card-content">
      <p>
        {{ this.dog.description }}
      </p>
    </mat-card-content>
  </mat-card>
</mat-expansion-panel>
